.header {
    background-color: rgb(68, 90, 125);
    padding: 50px 0;
    position: relative;
    margin-top: 100px;
    display: flex;
    align-items: center;
    height: 60vh;
}
.natural_100 {
    font-size: 20px;
    font-weight: 600;
}

.header::after {
    content: "";
    background-image: url("../../../img/homePage_headerimg_3.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.75);
}

.left__block {
    margin-top: 50px;
    height: 200px;
    padding: 15px;
    color: white;
    z-index: 1;
    border-radius: 15px;
}

.right__block_img {
    position: relative; /* Позиционирование элемента для размещения текста над изображением */
    z-index: 1; /* Поместить изображение над фоном */
}

.right__block_img img {
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота изображения */
}

.first__div_h1 {
    font-size: 35px; /* Размер шрифта */
    font-weight: bold; /* Полужирный шрифт */
    color: white; /* Цвет текста */
}

/* Медиа-запросы для адаптивного дизайна */
@media (max-width: 767px) {
    .left__block,
    .right__block_img {
        text-align: center; /* Центрирование содержимого для маленьких экранов */
    }
}
